[submodule "xpms2d/raf"]
	path = xpms2d/raf
	url = https://github.com/ncar/libraf
[submodule "xpms2d/site_scons"]
	path = xpms2d/site_scons
	url = https://github.com/ncar/eol_scons
[submodule "vardb"]
	path = vardb
	url = https://github.com/NCAR/aircraft_vardb
